body {
    background-color: lightskyblue;
}

h3 {
    margin: .1rem;
    text-align: center;
    border: .2rem solid blue;
}
.cincoCircleContainer {
    width: 10rem;
    height: 10rem;
    border: .2rem solid black;
    margin: auto;
    text-align: center;
}
.unoCircle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: .2rem solid white;
    border-radius: 50%;
    cursor: pointer;
}
.finalTenCirclesContainer{
    text-align: center;
}
.finalTenCirclesContainer div{
    display: inline-block;
}
.scorersTable {
    text-align: center;
}
.scorersTable span{
    border-top: .2rem solid black;
    border-left: .2rem solid black;
}